<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <mapping class="com.usuario.model.Usuario"/>
  <mapping class="com.login.model.Login"/>
  <mapping class="com.midiasocial.model.UsuarioAppMidiaSocial"/>
  <mapping class="com.midiasocial.model.UsuarioPubMidiaSocial"/>
  <mapping class="com.midiasocial.model.Publicacao"/>
  <mapping class="com.midiasocial.model.Comentario"/>
  <mapping class="com.midiasocial.model.Servico"/>
  <mapping class="com.midiasocial.model.ServicoAtualizacao"/>
  <mapping class="com.midiasocial.model.AplicacaoMidiaSocial"/>
  <mapping class="com.midiasocial.model.Criterio"/>
  <mapping class="com.midiasocial.model.PalavraChaveMidia"/>
  <mapping class="com.midiasocial.model.ResultadoBusca"/>
  <mapping class="com.midiasocial.model.Anexo"/>
  </session-factory>
</hibernate-configuration>
